USE [master]
GO
/****** Object:  Database [loma-backend_db]    Script Date: 5/4/2026 9:06:26 PM ******/
CREATE DATABASE [loma-backend_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'loma-backend_db', FILENAME = N'C:\loma-backend_db\loma-backend_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'loma-backend_db_log', FILENAME = N'C:\loma-backend_db\loma-backend_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [loma-backend_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [loma-backend_db]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/4/2026 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fresh_meals]    Script Date: 5/4/2026 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fresh_meals](
	[meal_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[is_available] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[meal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 5/4/2026 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[meal_type] [nvarchar](10) NOT NULL,
	[meal_id] [int] NOT NULL,
	[meal_name] [nvarchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/4/2026 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[delivery_address] [nvarchar](255) NULL,
	[payment_method] [nvarchar](20) NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurants]    Script Date: 5/4/2026 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurants](
	[restaurant_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[logo_url] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[is_approved] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[returned_meals]    Script Date: 5/4/2026 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[returned_meals](
	[returned_meal_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[fresh_meal_id] [int] NULL,
	[meal_name] [nvarchar](150) NOT NULL,
	[reason] [nvarchar](100) NULL,
	[quantity] [int] NOT NULL,
	[original_price] [decimal](10, 2) NOT NULL,
	[discount] [decimal](5, 2) NOT NULL,
	[final_price] [decimal](10, 2) NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[expiry_time] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[returned_meal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/4/2026 9:06:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fresh_meals] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[fresh_meals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('cod') FOR [payment_method]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[restaurants] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[restaurants] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[returned_meals] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[returned_meals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[fresh_meals]  WITH CHECK ADD  CONSTRAINT [fk_fresh_meals_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[fresh_meals] CHECK CONSTRAINT [fk_fresh_meals_category]
GO
ALTER TABLE [dbo].[fresh_meals]  WITH CHECK ADD  CONSTRAINT [fk_fresh_meals_restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([restaurant_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[fresh_meals] CHECK CONSTRAINT [fk_fresh_meals_restaurant]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [fk_order_items_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [fk_order_items_order]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_user]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [fk_restaurants_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [fk_restaurants_user]
GO
ALTER TABLE [dbo].[returned_meals]  WITH CHECK ADD  CONSTRAINT [fk_returned_fresh_meal] FOREIGN KEY([fresh_meal_id])
REFERENCES [dbo].[fresh_meals] ([meal_id])
GO
ALTER TABLE [dbo].[returned_meals] CHECK CONSTRAINT [fk_returned_fresh_meal]
GO
ALTER TABLE [dbo].[returned_meals]  WITH CHECK ADD  CONSTRAINT [fk_returned_restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([restaurant_id])
GO
ALTER TABLE [dbo].[returned_meals] CHECK CONSTRAINT [fk_returned_restaurant]
GO
ALTER TABLE [dbo].[fresh_meals]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([meal_type]='returned' OR [meal_type]='fresh'))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([payment_method]='wallet' OR [payment_method]='card' OR [payment_method]='cod'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='delivered' OR [status]='preparing' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[returned_meals]  WITH CHECK ADD CHECK  (([discount]>=(0) AND [discount]<=(100)))
GO
ALTER TABLE [dbo].[returned_meals]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[returned_meals]  WITH CHECK ADD CHECK  (([reason]='Other' OR [reason]='Wrong Ingredients' OR [reason]='Cold Food Complaint' OR [reason]='Cancellation' OR [reason]='Missing Items' OR [reason]='Incorrect Order' OR [reason]='Late Delivery'))
GO
ALTER TABLE [dbo].[returned_meals]  WITH CHECK ADD CHECK  (([status]='expired' OR [status]='sold' OR [status]='available'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='restaurant' OR [role]='customer'))
GO
USE [master]
GO
